extends ../layout
block content
    h2.text-center Commit to yourself. Commit to a nonprofit.
    .row
        .col-xs-12.col-sm-6.col-sm-offset-3
          p Bạn có thể mang cho mình một động lực từ bên ngoài, và bắt đầu giúp đỡ tổ chức phi lợi nhận ngay từ bây giờ. Bạn có thể làm điều này bằng cách ủng hộ tiền hàng tháng tới tổ chức phi lợi nhuận cho đến khi bạn nhận được một chứng chỉ từ chúng tôi. Điều này là hoàn toàn không bắt buộc. Điều này là lời hứa giữa bạn và tổ chức phi lợi nhuận, và bạn cũng không cần dùng tiền để bắt đầu với Free Codee School. Bạn có thể thay đổi lời hứa của bạn hoặc dừng nó lại bất cứ thời gian nào bạn muốn.

    .row
        .col-xs-12.col-sm-6.col-sm-offset-3.text-center
          h3 Pledge to #{displayName}&thinsp;
          .button-spacer
              a(href='#{imgUrl}' data-lightbox='img-enlarge' alt='#{imgAlt}')
                  img.img-responsive(src='#{imgUrl}' alt='#{imgAlt}')
              p.large-p
                = description
              p
                a(href='/commit/directory') ...or see other nonprofits
    .spacer
    form.form(name='commit')
        .hidden
            input(type='text' value='#{name}' name='nonprofit')
        .row
            .col-xs-12.col-sm-6.col-sm-offset-3
                h3 Step 1: Chọn một chứng chỉ mà bạn muốn để hoàn thành?
                .btn-group.btn-group-justified(data-toggle='buttons' role='group')
                    label.btn.btn-primary.btn-lg.active
                        input(type='radio' id=frontEndCert value=frontEndCert name='goal' checked="checked")
                        | Front End
                    label.btn.btn-primary.btn-lg
                        input(type='radio' id=dataVisCert value=dataVisCert name='goal')
                        | Data Vis
                    label.btn.btn-primary.btn-lg
                        input(type='radio' id=backEndCert value=backEndCert name='goal')
                        | Back End
                    label.btn.btn-primary.btn-lg
                        input(type='radio' id=fullStackCert value=fullStackCert name='goal')
                        | Full Stack
        .spacer
        .row
            .col-xs-12.col-sm-6.col-sm-offset-3
                h3 Step 2: Bạn sẽ cam kết bao nhiêu mỗi tháng cho đến khi bạn hoàn thành chứng chỉ đó?
                .btn-group.btn-group-justified(data-toggle='buttons' role='group')
                    label.btn.btn-primary
                        input(type='radio' id='5-dollar-pledge' value='5' name='amount')
                        | $5 mỗi tháng
                    label.btn.btn-primary.active
                        input(type='radio' id='10-dollar-pledge' value='10' name='amount' checked="checked")
                        | $10 mỗi tháng
                    label.btn.btn-primary
                        input(type='radio' id='25-dollar-pledge' value='25' name='amount')
                        | $25 mỗi tháng
                    label.btn.btn-primary
                        input(type='radio' id='50-dollar-pledge' value='50' name='amount')
                        | $50 mỗi tháng
        .spacer
        .col-xs-12.col-sm-6.col-sm-offset-3
            h3 Step 3: Cài đặt ủng hộ mỗi tháng
        .row
            .col-xs-12.col-sm-6.col-sm-offset-3.text-center
                a#commit-btn-donate.btn.btn-block.btn-lg.btn-primary(href=donateUrl target='_blank') Mở trang ủng hộ của #{displayName}

        .spacer
        .col-xs-12.col-sm-6.col-sm-offset-3
            h3#commit-step4-text.disabled
                Step 4: Xác nhận
                span#commit-step4-hidden.disabled  (Bạn phải thực hiện bước 3 trước)
                span#commit-step4-show.hidden  Cam kết mục tiêu của bạn
        .row
            .col-xs-12.col-sm-6.col-sm-offset-3.text-center
                button#commit-btn-submit.btn.btn-block.btn-lg.btn-primary.disabled Commit

    if pledge
        form.row(name='stop-pledge' action='/commit/stop-commitment' method='post')
            input(type='hidden', name='_csrf', value=_csrf)
            .col-xs-12.col-sm-6.col-sm-offset-3.text-center
                .button-spacer
                button.btn.btn-block.btn-lg.btn-default(name='submit' type='submit') Dừng cam kết của tôi
    else
        .row
            .col-xs-12.col-sm-6.col-sm-offset-3.text-center
                .button-spacer
                a.btn.btn-block.btn-lg.btn-default(href='/map') Để sau
    script.
      $(function() {
        $('#commit-btn-donate').click(function() {
          $('#commit-btn-submit').removeClass('disabled');
          $('#commit-step4-text').removeClass('disabled');
          $('#commit-step4-hidden').hide();
          $('#commit-step4-show').removeClass('hidden');
        });

        $('#commit-btn-submit').click(function() {

          if (
            history &&
            typeof history.pushState === 'function'
          ) {
            history.pushState(history.state, null, '/commit/pledge?' + $('form').serialize());
            return null;
          }

          window.location.href = '/commit/pledge?' + $('form').serialize();
        });
      });
